#title {
    color: rgb(12, 108, 115); 
    animation: backwards;
    background-color: black;

}

.box {
    width: 100px;
    height: 100px;
    color: #ff2121;
    background-color: aqua;
    stroke: black;
}

.red-box {
    background-color: red;
}

.blue-box {
    background-color: rgb(28, 45, 223);
}

.green-box {
    background-color: rgb(7, 200, 42);
}
